/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #BBF;
}

/* Define default colors */

body {
    background-color: #333;
    color: #EEE;
}

/*
 * Ensure footer is at the bottom of pages
 */

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex: 1;
    }
}

/*
 * Header CSS style
 */

header {
    background-color: #333;
    width: 100vw;
}

.menu-frame {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    h1 {
        border: 2px solid lightgreen;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        margin: 0;
        margin-right: 2rem;
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-item {
    a {
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
        text-decoration: none;
        color: #44ffa7;
        margin-right: 1rem;
    }
}

.status {
    display: flex;
    gap: 1rem;
    align-items: center;

    .admin {
        padding: 1rem;
        border: 2px solid lightcoral;
        border-radius: 0.5rem;
    }

    .avatar {
        background-color: gray;
        padding: 0.4rem;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;

        display: flex;
        justify-content: center;
        align-items: center;

        overflow: hidden;

        a,
        img {
            width: 100%;
            height: 100%;
        }

        img {
            object-fit: contain;
        }
    }
}
