/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #BBF;
}

/* Define default colors */

body {
    background-color: #333;
    color: #EEE;
}

/*
 * Ensure footer is at the bottom of pages
 */

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex: 1;
    }
}

/*
 * Table CSS
 */
 
table {
    border-collapse: collapse;
    margin: 0 auto;

    a {
        background-color: lightgreen;
        padding: 0.4rem;
        color: black;
        border-radius: 0.2rem;
        text-decoration: none;
    }

    a:hover {
        background-color: #44ffa7;
    }
}

table,
th,
td {
    border: 1px solid;
}

td,
th {
    padding: 1rem;
}

/*
 * Default structuring CSS
 */

.title {
    text-align: center;
    margin: 1.5rem auto;
    font-size: 2.5rem;
    color: antiquewhite;
}

.subtitle {
    text-align: center;
    margin: 1rem auto;
    font-size: 1.5rem;
    color: antiquewhite;
}

.error {
    color: lightcoral;
    font-size: 1.2rem;
}

/*
 * Header CSS style
 */

header {
    background-color: #333;
    width: 100vw;
}

.menu-frame {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    h1 {
        border: 2px solid lightgreen;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        margin: 0;
        margin-right: 2rem;
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-item {
    a {
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
        text-decoration: none;
        color: #44ffa7;
        margin-right: 1rem;
    }
}

.status {
    display: flex;
    gap: 1rem;
    align-items: center;

    .admin,
    .employe {
        padding: 1rem;
        border-radius: 0.5rem;
    }

    .admin {
        border: 2px solid lightcoral;        
    }

    .employe {
        border: 2px solid lightgreen;
    }

    .avatar {
        background-color: gray;
        padding: 0.4rem;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;

        display: flex;
        justify-content: center;
        align-items: center;

        overflow: hidden;

        a,
        img {
            width: 100%;
            height: 100%;
        }

        img {
            object-fit: contain;
        }
    }
}

/*
 * Forms CSS
 */

form {
    max-width: 1280px;
    margin: 0 auto;

    label {
        display: inline-block;
        margin-right: 1rem;
        width: 14rem;
    }

    input,
    select {
        margin: 0.5rem 0;
        width: 40rem;
        padding: 0.5rem;
    }

    input[type="submit"] {
        width: fit-content;
        padding: 1rem 2rem;
        background-color: lightsalmon;
        border: none;
        border-radius: 1rem;
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    input[type="submit"]:hover {
        background-color: lightcoral;
        cursor: pointer;
    }

    .input-file-container {
        width: 40rem;
        display: inline-block;
        place-items: center;
        text-align: center;
        background-color: #2d274f;
        padding: 2rem 3rem;
        border-radius: 1rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

    input[type='file'] {
        font-family: inherir;
        font-size: 1rem;
        color: #ccc;
        background-color: transparent;
        border-radius: 0.5rem;
        cursor: pointer;
    }

    input[type="file"]::file-selector-button {
        background-color: #c789bc;
        color: #01072b;
        border: none;
        padding: 0.5rem 1rem;
        margin-right: 1rem;
        border-radius: 0.5rem;
        font-weight: bold;
        transition: background-color 0.3s ease;
        content: "";
    }

    input[type="file"]::file-selector-button:hover {
        background-color: hsl(311, 36%, 56%);
    }
}

.button {
    width: fit-content;
    padding: 1rem 2rem;
    background-color: lightsalmon;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 2rem auto;

    a {
        color: black;
        text-decoration: none;
    }
}

.button:hover {
    cursor: pointer;
    background-color: lightcoral;
}
